.logo {
  width: 200px;
  position: fixed;
  left: var(--spacing-xl);
  top: var(--spacing-xl);
  z-index: 123;
}

header nav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  writing-mode: vertical-rl;
  transform: rotate(270deg);
}

header nav a {
  padding: var(--spacing-sm) 0;
  text-decoration: none;
  color: var(--color-white);
  transition: color 0.3s;
  cursor: pointer;
}

header nav a:hover {
  color: var(--color-primary);
}

header nav a.active {
  color: var(--color-primary);
  position: relative;
}

header nav a.active::after {
  content: "";
  position: absolute;
  top: -28px;
  left: 0;
  border-radius: var(--radius-pill);
  height: 20px;
  width: 20px;
  background-color: var(--color-primary);
  transition: width 0.3s ease-in-out;
}

button {
  font-family: var(--font-body);
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: var(--radius-pill);
  padding: var(--spacing-md);
  font-size: var(--font-size-lg);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #e05504;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-md);
  max-width: 500px;
  margin: auto;
}

input,
textarea {
  width: 100%; /* Ensure it respects container width */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* Adjust as needed */
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Contrasts against dark background */
  font-family: var(--font-body);
}

button:hover {
  background-color: #e85c33;
}

input:focus,
textarea:focus {
  border-color: var(--color-primary);
}

button[type="submit"] {
  align-self: center;
  min-width: 100px;
  font-size: var(--font-size-base);
  background-color: var(--color-tertiary);
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
